
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date, class: "flatpickr-calender", input_html: { data: {controller: "hello", hello_target: "inputDate", type: "text"} } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
